<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/publications/">PUBLICATIONS</a></li>
            <li><a href="https://jasperliao.github.io/Fangshuo_Liao_CV.pdf">CV</a></li>
            <li><a href="https://scholar.google.com/citations?user=WIwcFN8AAAAJ&hl=en">Google Scholars</a></li>
            <li><a href="https://www.linkedin.com/in/fangshuo-liao-698043141">LinkedIn</a></li>
        </ul>
    </nav>
</center>
